---
BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Linux
ContinuationIndentWidth: 0
PointerAlignment: Right
MaxEmptyLinesToKeep: 1
SortIncludes: false
SpacesBeforeTrailingComments: 2
ColumnLimit: 78
